* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  color: #747474;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header nav img {
  width: 268px;
  height: 33px;
  cursor: pointer;
}
header nav {
  width: 80%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
header nav ul li {
  list-style: none;
  margin-left: 20px;
}
.colorGreen {
  color: #00b39b;
}
header nav ul li a:hover {
  color: #00b39b;
}
header {
  border-bottom: 1px solid rgb(116, 116, 116, 0.1);
}
footer .footer-content p {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
footer .footer-content p a {
  color: #3d83df;
}
footer .footer-content p a:hover {
  text-decoration: underline;
}
footer {
  border-top: 1px solid rgb(116, 116, 116, 0.1);
}
main {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
main .first-section {
  padding: 10px;
}
main .first-section img {
  height: 40px;
  width: 39px;
}
main .first-section h1 {
  font-size: 2.125rem;
  color: #00b39b;
  text-align: center;
  font-weight: 100;
  letter-spacing: -0.3px;
  font-family: Work Sans, Arial, sans-serif;
  margin: 1rem;
}
.second-section {
  display: grid;
  gap: 20px;
  grid-template-columns: 50% auto;
  margin: 40px;
  text-align: left;
}
.second-section p {
  align-items: left;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
}
.third-section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
}
.third-section .patient {
  background-color: #00b39b;
}
.third-section .doctor {
  background-color: #3d83df;
}
.third-section .clinic {
  background-color: rgb(3, 7, 39);
}
.third-section .clinic,
.doctor,
.patient {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  height: 311px;
  width: 80%;
  text-align: left;
  justify-content: space-around;
}
.third-section p,
h3,
option,
label {
  color: white;
}
.third-section img {
  height: 24px;
  width: 24px;
}
.third-section select {
  margin-top: 10%;
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 2em 0 0;
  -webkit-appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
  text-shadow: none;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  text-align: left;
}
.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  align-items: left;
}
.text-block h1,
h2 {
  color: #fff;
}
.clinic .select-list {
  height: 116px;
}
.fourth-section {
  margin: 0 auto;
}
.fourth-section .content-4 {
  display: flex;
}
.content-4-text {
  width: 40%;
  margin: 5px;
}
.fourth-section .content-4-logo ul li {
  display: inline-block;
  flex-direction: column;
  margin: 5px;
  font-size: 1rem;
  margin-top: 0;
  padding: 5px 0 5px 5px;
  width: auto;
}
.content-4-logo {
  width: 80%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 5px;
}
.list-1 {
  display: flex;
  justify-content: space-around;
}
.list-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.content-4-text h1 {
  text-align: left;
  color: #00b39b;
  font-size: 35px;
  font-weight: 300;
}
.list-1 a svg {
  height: 20px;
  width: auto;
  max-width: 100%;
  padding-left: 10px;
  fill: #747474;
}
.list-1 a:hover path {
  fill: #00bfa5;
}
.list-2 .list-2-logo a {
  height: 20px;
  width: auto;
  max-width: 100%;
  padding-left: 10px;
  fill: #747474;
}
.list-2 .list-2-logo a img {
  height: 20px;
  width: auto;
  max-width: 100%;
  padding-left: 10px;
  filter: grayscale(100%);
}
.list-2 .list-2-logo a:hover {
  fill: #00bfa5;
}
.list-2 .list-2-logo a img:hover {
  filter: none;
  opacity: 1;
}
.content-4 {
  margin: 60px 0;
}
